.btn-group button#frmb-1693302100823-save-action {
    display: none !important;
}
footer{
    background-color: #ebeeef;
    padding: 1rem 0 1.4rem;
    border-top: 1px solid rgba(0,47,52,.2);
  }
  div#footer-wrapp {
    justify-content: space-between;
    padding: 18px 0px;
    align-items: center;
  }
  #footer-wrapp h2{
    font-weight: 700;
    font-size: 1.1rem;
  }
  #footer-wrapp ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #footer-wrapp ul li a{
    color: rgba(0,47,52,.64);
      text-decoration: none;
      cursor: pointer;
      font-size: 1.004rem;
  }
  .dropdown-menu{
    top: 93% !important;
  }